<div class="contact-content">
    <div class="contact-headline">
        <div class="contact-vector"></div>
        <h1>{{ 'contact_headline' | translate }}</h1>
    </div>
    <div class="lower-container content-wrapper">
        <div class="text-container">
            <h3>{{ 'contact_question' | translate }}</h3>
            <p>{{ 'contact_text' | translate }}</p>
            <p>{{ 'contact_last_line_1' | translate }}<span>{{ 'contact_last_line_2' | translate }}</span></p>
        </div>
        <div class="right-container">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="contact-form">
                <div class="input-container">
                    <input #name="ngModel" minlength="4" [(ngModel)]="contactData.name" [ngClass]="{'border-ok': name.valid && name.touched, 'border-notok': !name.valid && name.touched}" class="general-input-style" type="text" name="name" id="name" placeholder="{{ 'contact_form_name_placeholder' | translate }}" required>
                    <p [ngStyle]="{'visibility': (!name.valid && name.touched) ? 'visible' : 'hidden'}">{{ 'contact_form_name_required' | translate }}</p>
                    @if (!name.valid && name.touched) {
                        <img class="icon" src="assets/img/contact_section/not-ok.png" alt="not-ok"> 
                    }
                    @if (name.valid && name.touched) {
                        <img class="icon" src="assets/img/contact_section/ok.png" alt="ok">
                    }
                </div>
                <div class="input-container">
                    <input #email="ngModel" [(ngModel)]="contactData.email" [ngClass]="{'border-ok': email.valid && email.touched, 'border-notok': !email.valid && email.touched}" class="general-input-style" type="email" name="email" id="email" placeholder="{{ 'contact_form_email_placeholder' | translate }}" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
                    <p [ngStyle]="{'visibility': (!email.valid && email.touched) ? 'visible' : 'hidden'}">{{ 'contact_form_email_required' | translate }}</p>
                    @if (!email.valid && email.touched) {
                        <img class="icon" src="assets/img/contact_section/not-ok.png" alt="not-ok">
                    }
                    @if (email.valid && email.touched) {
                        <img class="icon" src="assets/img/contact_section/ok.png" alt="ok">
                    }
                </div>
                <div class="textarea-container">
                    <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" [ngClass]="{'border-ok': message.valid && message.touched, 'border-notok': !message.valid && message.touched}" class="general-input-style" name="message" id="message" placeholder="{{ 'contact_form_message_placeholder' | translate }}" required></textarea>
                    <p [ngStyle]="{'visibility': (!message.valid && message.touched) ? 'visible' : 'hidden'}">{{ 'contact_form_message_required' | translate }}</p>
                    @if (!message.valid && message.touched) {
                        <img class="icon" src="assets/img/contact_section/not-ok.png" alt="not-ok">
                    }
                    @if (message.valid && message.touched) {
                        <img class="icon" src="assets/img/contact_section/ok.png" alt="ok">
                    }
                </div>
                <div class="agree-container">
                    @if (agreedPrivacyPolicy === true) {
                        <img (click)="toggleCheckbox()" src="assets/img/contact_section/checkbox-checked.png" alt="checkbox">
                    } @else {
                        <img (click)="toggleCheckbox()" src="assets/img/contact_section/checkbox-normal.png" alt="checkbox">
                    }
                    <p>{{ 'contact_form_pp_text_1' | translate }}<span (click)="showPrivacyPolicy()">{{ 'contact_form_pp_link' | translate }}</span>{{ 'contact_form_pp_text_2' | translate }}</p>
                </div>
                <p [ngStyle]="{'visibility': agreedPrivacyPolicy === false ? 'visible' : 'hidden'}" class="privacy-policy-red">{{ 'contact_form_pp_required' | translate }}</p>
                <input [disabled]="!name.valid || !email.valid || !message.valid || !(agreedPrivacyPolicy === true)" [ngClass]="{'btn-prim': !submit.disabled}" #submit type="submit" name="submit" id="submit" value="{{ 'contact_form_button' | translate }}">
                @if (mailSent) {
                    <p class="mail-sent">{{ 'contact_form_mail_sent' | translate }}</p>
                }
            </form>
            <svg (click)="scrollToTop()" class="go-up-icon" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1" y="1" width="37" height="37" rx="18.5" stroke="white" stroke-width="2"/>
                <path d="M18 15.828L13.343 20.485C12.9526 20.8755 12.3195 20.8755 11.929 20.485C11.5386 20.0945 11.5386 19.4615 11.929 19.071L18.2929 12.7071C18.6834 12.3166 19.3166 12.3166 19.7071 12.7071L26.071 19.071C26.4615 19.4615 26.4615 20.0945 26.071 20.485C25.6806 20.8755 25.0475 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 19.5523 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z" fill="white"/>
            </svg>
        </div>
    </div>
</div>
<img class="contact-shadow" src="assets/img/contact_section/contact_shadow.png" alt="shadow">