// variables:
$prim-color-green: #70E61C;
$prim-color-purple: #9747FF;
$prim-color-bg: #141D2F;
$required-red: #E61C40;

@mixin dFlex($fd:row, $jc:center, $ai:center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

// .d-none {
//     display: none;
// }

// .d-block {
//     display: block !important;
// }

.border-ok {
    border-color: $prim-color-green !important;
}

.border-notok {
    border-color: $required-red !important;
}

.contact-content {
    @include dFlex($fd: column);
    width: 100%;
    z-index: 5;
}

.contact-headline {
    @include dFlex();
    gap: 32px;
    width: 100%;
    padding-right: 50%;
    margin-bottom: 40px;

    .contact-vector {
        height: 4px;
        flex: 1;
        background-color: $prim-color-purple;
    }
}

.lower-container {
    @include dFlex($jc: space-between, $ai: flex-start);
}

.text-container {
    width: 480px;

    p {
        line-height: 1.3;
    }

    h3 {
      margin-bottom: 24px;  
    }

    p:last-of-type {
        margin-top: 16px;

        span {
            font-weight: 700;
        }
    }
}

.right-container {
    @include dFlex($fd: column, $ai: flex-end);

    > a {
        margin-top: 52px;
    }
}

.contact-form {
    @include dFlex($fd: column, $jc: flex-start);
    width: 600px;
    height: 600px;

    > * {
        width: 100%;
    }
}

.general-input-style {
    width: 100%;
    background-color: $prim-color-bg;
    padding: 15px 25px;
    border-radius: 10px;
    border: 1px solid $prim-color-purple;
    transition: all 300ms ease-out;

    &::placeholder {
        font-size: 16px;
        font-weight: 400;
        color: white;
    }

    &:hover {
        cursor: pointer;
        border: 1px solid $prim-color-green;
    }

    &:focus {
        outline: unset;
        cursor: text;
        border: 1px solid white;
    }

    &:focus::placeholder {
        visibility: hidden;
    }
}

.input-container {
    @include dFlex($fd: column, $ai: flex-start);
    gap: 10px;
    margin-bottom: 32px;
    position: relative;

    > p {
        font-size: 14px;
        line-height: 1.3;
        color: $required-red;
    }
}

.textarea-container {
    @include dFlex($fd: column, $ai: flex-start);
    gap: 10px;
    margin-bottom: 16px;
    position: relative;

    > textarea {
        height: 200px;
        resize: unset;
    }

    > p {
        font-size: 14px;
        line-height: 1.3;
        color: $required-red;
    }
}

.icon {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 12.5px;
    right: 12.5px;
}

.agree-container {
    @include dFlex($jc: flex-start);
    gap: 8px;
    margin-bottom: 8px;

    &:hover {
        > img {
            background-color: #183771;
        }
    }

    > img {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        cursor: pointer;
    }

    > p {
        font-size: 14px;
        line-height: 1.3;

        > a {
            font-size: 14px;
            color: $prim-color-purple;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.privacy-policy-red {
    font-size: 14px;
    line-height: 1.3;
    color: $required-red;
}

#submit {
    width: fit-content;

    &:disabled {
    padding: 15px 30px;
    border-radius: 10px;
    border: unset;
    font-size: 23px;
    line-height: 1.2;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 12px;
    background-color: #B6B6B6;
    }
}

.btn-prim {
    margin-top: 12px;
}

.go-up-icon {
    height: 39px;
    width: 39px;

    &:hover {

        rect {
            transition: all 100ms ease-in-out;
            stroke: $prim-color-green;
        }

        path {
            transition: all 100ms ease-in-out;
            fill: $prim-color-green;
        }
    }
}

.contact-shadow {
    height: 900px;
    position: absolute;
    bottom: -380px;
    left: -360px;
}