<div class="contact-content">
    <div class="contact-headline">
        <div class="contact-vector"></div>
        <h1>Contact</h1>
    </div>
    <div class="lower-container content-wrapper">
        <div class="text-container">
            <h3>Got a problem to solve?</h3>
            <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
            <p>Need a Frontend developer? <span>Contact me!</span></p>
        </div>
        <form class="contact-form">
            <div class="input-container">
                <input required type="text" name="" id="" placeholder="Your name">
                <p>Your name is required</p>
            </div>
            <div class="input-container">
                <input required type="email" name="" id="" placeholder="Your email">
                <p>Your email is required</p>
            </div>
            <div>
                <textarea required name="" id="" placeholder="Your message"></textarea>
                <p>Your message is empty</p>
            </div>
            <div>

            </div>
        </form>
    </div>
</div>