<div class="header-content content-wrapper">
    <a class="name-logo" href="#top">Tobias</a>
    <nav>
        <a (click)="highlightLink('about-me')" [ngClass]="{'link-highlighted': id === 'about-me'}" href="#about_me">About me</a>
        <a (click)="highlightLink('my-skills')" [ngClass]="{'link-highlighted': id === 'my-skills'}" href="#my_skills">Skills</a>
        <a (click)="highlightLink('projects')" [ngClass]="{'link-highlighted': id === 'projects'}" href="#projects">Portfolio</a>
    </nav>
</div>