// variables:
$prim-color-green: #70E61C;
$prim-color-purple: #9747FF;
$prim-color-bg: #141D2F;

@mixin dFlex($fd:row, $jc:center, $ai:center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

.header-content {
    @include dFlex($jc: space-between);
    height: 150px;
}

.name-logo {
    font-size: 40px;
    font-weight: bold;
}

nav {
    @include dFlex();
    gap: 29px;

    > a {
        font-size: 23px;
        background-position: bottom left;
        background-size: 55px 0px;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right, $prim-color-purple, $prim-color-purple);
        padding-bottom: 4px;
        transition: all 100ms ease-in;

        &:hover {
            color: $prim-color-green;
        }

        &:active {
            color: white;
            transition: none;
        }
    }
}

.link-highlighted {
    background-size: 55px 3px !important;
    color: $prim-color-green;
}