<div class="portfolio-content">
    <div class="portfolio-headline">
        <img class="vector-left" src="assets/img/portfolio_section/vector-portfolio-left.png" alt="vector-left">
        <h1>Portfolio</h1>
        <img class="vector-right" src="assets/img/portfolio_section/vector-portfolio-right.png" alt="vector-right">
    </div>
    <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>

    <div class="projects-container content-wrapper">
        <app-single-project></app-single-project>
        <app-single-project></app-single-project>
        <app-single-project></app-single-project>
        <app-single-project></app-single-project>
    </div>
</div>
<img class="portfolio-shadow" src="assets/img/portfolio_section/portfolio_shadow.png" alt="shadow">
