// variables:
$prim-color-green: #70E61C;
$prim-color-purple: #9747FF;
$prim-color-bg: #141D2F;

@mixin dFlex($fd:row, $jc:center, $ai:center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

.padding-l244 {
    padding-left: 244px;
}

.portfolio-content {
    @include dFlex($fd: column, $ai: flex-start);
    width: 100%;
    z-index: 5;

    > p {
        margin-bottom: 32px;
    }
}

.portfolio-headline {
    @include dFlex($jc: flex-start);
    gap: 32px;
    width: 100%;
    margin-bottom: 40px;

    .vector-portfolio-left {
        height: 4px;
        width: 100px;
        background-color: $prim-color-purple;
    }

    .vector-portfolio-right {
        height: 4px;
        flex: 1;
        background-color: $prim-color-purple;
    }
}

.projects-container {
    @include dFlex($fd: column, $ai: flex-start);
    gap: 80px;
}

.row-reverse {
    flex-direction: row-reverse;
    text-align: end;
}

.portfolio-shadow {
    height: 930px;
    position: absolute;
    left: -250px;
    top: 900px;
}

/* Responsive Design:*/
@media(max-width: 2020px) {
    .padding-l244 {
        padding-left: 10%;
    }
}

@media(max-width: 1470px) {
    .padding-l244 {
        padding-left: 24px;
    }

    .portfolio-content {
        > p {
            padding-right: 24px;
        }
    }

    .projects-container {
        padding-right: 24px;
    }
}

@media(max-width: 1000px) {
    .portfolio-headline {
        margin-bottom: 32px;
        padding-left: 100px;
    }

    .row-reverse {
        flex-direction: column;
        text-align: center;
    }

    .projects-container {
        gap: 40px;
    }

    .portfolio-shadow {
        height: 600px;
        top: 950px
    }
}

@media(max-width: 500px) {
    .portfolio-headline {
        margin-bottom: 32px;
        padding-left: 24px;
        gap: 16px;

        .vector-portfolio-left {
            width: 50px;
        }
    }

    .portfolio-content {
        > p {
            padding: 0 10px;
            text-align: center;
        }
    }

    .projects-container {
        padding: 0 10px;
    }

    .portfolio-shadow {
        height: 550px;
        top: 750px
    }
}