<div class="portfolio-content">
    <div class="portfolio-headline">
        <div class="vector-portfolio-left"></div>
        <h1>Portfolio</h1>
        <div class="vector-portfolio-right"></div>
    </div>
    <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>

    <div class="projects-container content-wrapper">
        @for (singleProject of projects; track singleProject; let i = $index) {
            <app-single-project [ngClass]="{'row-reverse': isOdd(i)}" [singleProject]="singleProject" [index]="i"></app-single-project>
        }
    </div>
</div>
<img class="portfolio-shadow" src="assets/img/portfolio_section/portfolio_shadow.png" alt="shadow">
