<div class="img-title-container content-wrapper">
    <div class="hero-profil-bg">
        <img src="assets/img/hero_section/hero_profil.png" alt="profil">
    </div>
    <div class="right-container">
        <div class="title-container">
            <span class="i-am">I am</span>
            <div>
                <span class="name">Tobias Reize</span>
                <span class="title">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <a class="btn-prim" href="#">Let's talk</a>
    </div>
</div>
<div class="lower-container content-wrapper">
    <div class="social-media">
        <img src="assets/img/hero_section/icon-github.png" alt="github">
        <img src="assets/img/hero_section/icon-mail.png" alt="mail">
        <img src="assets/img/hero_section/icon-linkedin.png" alt="linkedin">
        <a href="#">mustermann&#64;gmail.com</a>
    </div>
    <div class="scroll-down-container">
        <span>Scroll down</span>
        <img src="assets/img/hero_section/arrow-scroll-down.png" alt="arrow-scroll-down">
    </div>
</div>
<img class="hero-background" src="assets/img/hero_section/hero_background.png" alt="hero_background">
