<div class="img-title-container content-wrapper">
    <div class="hero-profil-bg">
        <img src="assets/img/hero_section/hero_profil.png" alt="profil">
    </div>
    <div class="name-container">
        <div class="title-container">
            <span class="i-am">I am</span>
            <div>
                <h1>Tobias Reize</h1>
                <span class="title">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <button (click)="scrollToContact()" class="btn-prim">{{ 'hero_lets_talk' | translate }}</button>
    </div>
</div>
<div class="lower-container content-wrapper">
    <div class="social-media">
        <a href="https://github.com/TobiasReize" target="_blank">
            <img src="assets/img/hero_section/icon-github.png" alt="github">
        </a>
        <a (click)="scrollToContact()">
            <img src="assets/img/hero_section/icon-mail.png" alt="mail">
        </a>
        <a href="#">
            <img src="assets/img/hero_section/icon-linkedin.png" alt="linkedin">
        </a>
        <a (click)="scrollToContact()" class="mail-link">mustermann&#64;gmail.com</a>
    </div>
    <div class="scroll-down-container">
        <span>{{ 'hero_scroll_down' | translate }}</span>
        <img src="assets/img/hero_section/arrow-scroll-down.png" alt="arrow-scroll-down">
    </div>
</div>
<div class="vector-social-media"></div>
<img class="hero-background" src="assets/img/hero_section/hero_background.png" alt="hero_background">