<div class="about-me-content">
    <div class="left-container">
        <h1>About me</h1>
        <p>Hi, I'm a german speaking Frontend Developer based near Munich. Motivated by the limitless opportunities within IT, I am excited about crafting visually captivating and intuitive websites and applications.</p>
        <div class="icon-text-container">
            <img src="assets/img/about-me_section/icon-map.png" alt="location">
            <p>Flexible in terms of working environments, I can work effectively both on-site in Munich and remotely.</p>
        </div>
        <div class="icon-text-container">
            <img src="assets/img/about-me_section/icon-bulb.png" alt="bulb">
            <p>I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</p>
        </div>
        <div class="icon-text-container">
            <img src="assets/img/about-me_section/icon-puzzle.png" alt="puzzle">
            <p>In my profession, programming isn't just about writing code; it's a creative form of problem-solving. I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.</p>
        </div>
    </div>
    <div class="img-container">
        <img class="about-me-img" src="assets/img/about-me_section/about-me_profil.png" alt="profil">
    </div>
    <div class="vector-about-me"></div>
</div>
<img class="about-me-shadow" src="assets/img/about-me_section/about-me_shadow.png" alt="shadow">