<div class="about-me-content">
    <div class="left-container">
        <h1>{{ 'about_me_headline' | translate }}</h1>
        <p>{{ 'about_me_description' | translate }}</p>
        <div class="icon-text-container">
            <img src="assets/img/about-me_section/icon-map.png" alt="location">
            <p>{{ 'about_me_location' | translate }}</p>
        </div>
        <div class="icon-text-container">
            <img src="assets/img/about-me_section/icon-bulb.png" alt="bulb">
            <p>{{ 'about_me_bulb' | translate }}</p>
        </div>
        <div class="icon-text-container">
            <img src="assets/img/about-me_section/icon-puzzle.png" alt="puzzle">
            <p>{{ 'about_me_puzzle' | translate }}</p>
        </div>
    </div>
    <img class="about-me-img" src="assets/img/about-me_section/about-me_profil.png" alt="profil">
    <div class="vector-about-me"></div>
</div>
<img class="about-me-shadow" src="assets/img/about-me_section/about-me_shadow.png" alt="shadow">