// variables:
$prim-color-green: #70E61C;
$prim-color-purple: #9747FF;
$prim-color-bg: #141D2F;

@mixin dFlex($fd:row, $jc:center, $ai:center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

.app-wrapper {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #141D2F;
    padding-bottom: 290px; /* Höhe Footer */
    @include dFlex($fd: column, $jc: flex-start);
}

app-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $prim-color-bg;
    z-index: 10;
    @include dFlex();
}

app-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $prim-color-bg;
    z-index: 10;
    border-top: 4px solid $prim-color-green;
    overflow: hidden;
    @include dFlex();
}