// variables:
$prim-color-green: #70E61C;
$prim-color-purple: #9747FF;
$prim-color-bg: #141D2F;

@mixin dFlex($fd:row, $jc:center, $ai:center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

:host {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 120px;
    @include dFlex();
}

.home-button {
    @include dFlex($jc: flex-start);
    gap: 8px;
    width: fit-content;
    margin: 16px 0 32px 0;

    > img {
        height: 36px;
        width: 36px;
        border-radius: 50%;
        border: 2px solid $prim-color-bg;
        object-fit: contain;
        cursor: pointer;
        transition: all 100ms ease-in;
    }

    > span {
        font-size: 18px;
        cursor: pointer;
        transition: all 100ms ease-in;
    }

    &:hover img {
        border: 2px solid $prim-color-green;
    }

    &:hover span {
        color: $prim-color-green;
    }

    &:active span {
        color: white;
    }
}

h1 {
    font-size: 56px;
    margin-bottom: 40px;
    text-wrap: wrap;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    text-wrap: wrap;
    line-height: 1;
    margin-block: 0;
    margin: 24px 0 16px 0;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    text-wrap: wrap;
    line-height: 1;
    margin-block: 0;
    margin: 16px 0 8px 0;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    text-wrap: wrap;
    margin-block: 0;
    margin-top: 8px;
}

a {
    text-decoration: underline;
    word-break: break-all;
}

ul {
    padding-left: 18px;
}

.margin-top {
    margin-top: 8px;
}

.source {
    margin-top: 32px;
}

/* Responsive Design:*/
@media(max-width: 1000px) {
    :host {
        padding-top: 100px;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 38px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    h3 {
        font-size: 20px;
    }
}