// variables:
$prim-color-green: #70E61C;
$prim-color-purple: #9747FF;
$prim-color-bg: #141D2F;

@mixin dFlex($fd:row, $jc:center, $ai:center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

:host {
    width: 100%;
    @include dFlex($fd: column, $jc: unset);
}

app-hero {
    width: 100%;
    height: 100vh;
    padding-top: 150px;
    position: relative;
    @include dFlex($fd: column, $jc: unset);
}

app-about-me {
    padding-top: 124px;
    width: 100%;
    position: relative;
    @include dFlex();
}

app-my-skills {
    padding-top: 180px;
    width: 100%;
    position: relative;
    @include dFlex();
}

app-projects {
    padding-top: 180px;
    width: 100%;
    position: relative;
    @include dFlex();
}

app-references {
    padding-top: 146px;
    width: 100%;
    position: relative;
    @include dFlex();
}

app-contact {
    padding-top: 180px;
    width: 100%;
    position: relative;
    @include dFlex();
}

// Responsive Design:
@media(min-width: 1920px) {
    app-about-me {
        padding-left: calc((100vw - 1920px) / 2);
    }

    app-projects {
        padding-left: calc((100vw - 1920px) / 2);
    }

    app-references {
        padding-left: calc((100vw - 1920px) / 2);
    }
}