<div class="content-wrapper padding-lr50">
    <div (click)="home()" class="home-button">
        <img src="assets/img/references_section/arrow-left.png" alt="arrow-left">
        <span>Home</span>
    </div>
    <h1>Impressum</h1>
    <p>Tobias Reize</p>
    <p>Frühlingstr. 4/1</p>
    <p>97999 Igersheim</p>
    <h2>Kontakt</h2>
    <p>E-Mail: 
        <a href="mailto:kontakt@tobias-reize.de">kontakt&#64;tobias-reize.de</a>
    </p>
    <p class="source">Quelle: <a href="https://www.e-recht24.de" target="_blank">https://www.e-recht24.de</a></p>
</div>