// variables:
$prim-color-green: #70E61C;
$prim-color-purple: #9747FF;
$prim-color-bg: #141D2F;

@mixin dFlex($fd:row, $jc:center, $ai:center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

.references-content {
    @include dFlex($fd: column, $ai: flex-start);
    gap: 32px;
    width: 100%;
    padding-left: 244px;
    z-index: 5;
}

.testimonials-container {
    @include dFlex();
    width: 100%;
}

.comment-box {
    @include dFlex($fd: column, $jc: space-between, $ai: flex-start);
    width: 850px;
    height: 280px;
    padding: 48px 96px;
    border-radius: 32px;
    border: 4px solid $prim-color-green;
    margin-right: 48px;
    position: relative;

    > p {
        font-size: 20px;
        line-height: 1.2;
    }

    > img {
        height: 68px;
        position: absolute;
        top: -40px;
        left: -60px;
    }
}

.name-container {
    @include dFlex($jc: flex-start);
    gap: 16px;
    width: 100%;

    .testimonial-vector {
        height: 2px;
        flex: 1;
        background-color: $prim-color-purple;
    }

    > p {
        font-size: 18px;
        line-height: 1;
    }
}

.person-img {
    height: 270px;
    width: 270px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 4px solid $prim-color-purple;
}

// .img-person {
//     height: 270px;
//     width: 270px;
//     border-radius: 50%;
//     border: 4px solid $prim-color-purple;
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     transition: all 300ms ease-in-out;
// }

.vector-references {
    height: 4px;
    flex: 1;
    background-color: $prim-color-purple;
}

.switch-container {
    @include dFlex();
    gap: 20px;
    width: 100%;

    > img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid $prim-color-bg;
        object-fit: contain;

        &:hover {
            cursor: pointer;
            border: 2px solid $prim-color-green;
        }
    }

    .enum-dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $prim-color-purple;
    }

    .current {
        background-color: $prim-color-green;
    }
}

.references-shadow {
    height: 950px;
    position: absolute;
    top: -400px;
    right: -500px;
    transform: scaleX(-1);
}

/* Responsive Design:*/
@media(max-width: 2020px) {
    .references-content {
        padding-left: 0;
    }
}

@media(max-width: 1470px) {
    .comment-box {
        width: 50vw;
        padding: 32px;

        > img {
            top: -56px;
            left: -16px;
        }
    }
}