// variables:
$prim-color-green: #70E61C;
$prim-color-purple: #9747FF;
$prim-color-bg: #141D2F;

@mixin dFlex($fd:row, $jc:center, $ai:center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

.references-content {
    @include dFlex($fd: column, $ai: flex-start);
    gap: 32px;
    width: 100%;
    padding-left: 244px;
    z-index: 5;
}

.testimonials-container {
    @include dFlex($jc: flex-start);
    width: 100%;
}

.comment-box {
    @include dFlex($fd: column, $jc: space-between, $ai: flex-start);
    width: 850px;
    height: 280px;
    padding: 48px 96px;
    border-radius: 32px;
    border: 4px solid $prim-color-green;
    margin-right: 48px;
    position: relative;

    > p {
        font-size: 20px;
        line-height: 1.2;
    }

    > img {
        height: 68px;
        position: absolute;
        top: -40px;
        left: -60px;
    }
}

.name-container {
    @include dFlex($jc: flex-start);
    gap: 16px;
    width: 100%;

    .testimonial-vector {
        height: 2px;
        flex: 1;
        background-color: $prim-color-purple;
    }

    > p {
        font-size: 18px;
        line-height: 1;
    }
}

.img-vector-container {
    @include dFlex();
    flex: 1;
}

.person-img {
    height: 270px;
    width: 270px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 4px solid $prim-color-purple;
}

.vector-references {
    height: 4px;
    flex: 1;
    background-color: $prim-color-purple;
}

.switch-container {
    @include dFlex();
    gap: 20px;
    width: 100%;
    max-width: calc(1920px - 244px);

    > img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid $prim-color-bg;
        object-fit: contain;

        &:hover {
            cursor: pointer;
            border: 2px solid $prim-color-green;
        }
    }

    .enum-dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $prim-color-purple;
    }

    .current {
        background-color: $prim-color-green;
    }
}

.references-shadow {
    height: 950px;
    position: absolute;
    top: -200px;
    right: -500px;
    transform: scaleX(-1);
}

/* Responsive Design:*/
@media(max-width: 2020px) {
    .references-content {
        padding-left: 0;
    }
}

@media(max-width: 1470px) {
    .comment-box {
        width: 50vw;
        padding: 32px;

        > img {
            top: -56px;
            left: -16px;
        }
    }
}

@media(max-width: 1000px) {
    .testimonials-container {
        flex-direction: column-reverse;
    }

    .img-vector-container {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 24px;
    }

    .person-img {
        width: calc((100vw - 24px) / 3);
        height: calc((100vw - 24px) / 3);
        margin-left: auto;
    }

    .vector-references {
        flex: unset;
        width: calc((100vw - 24px) / 3);
    }

    .comment-box {
        margin-right: 24px;
        width: 70vw;
        height: 250px;
        padding: 16px;

        > p {
            font-size: 16px;
        }

        > img {
            height: 48px;
            top: -40px;
            left: -20px;
        }
    }

    .name-container {
        > p {
            font-size: 16px;
        }
    }

    .references-shadow {
        height: 700px;
        top: -250px;
        right: -400px;
    }
}

@media(max-width: 500px) {
    .person-img {
        width: 160px;
        height: 160px;
    }

    .vector-references {
        width: calc((100vw - 160px) / 2);
    }

    .comment-box {
        margin-right: 10px;
        height: 280px;

        > p {
            overflow: hidden;
        }

        > img {
            height: 40px;
            top: -30px;
            left: -18px;
        }
    }

    .name-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;

        > p {
            line-height: 1.2;
        }

        .testimonial-vector {
            flex: unset;
            width: 100px;
        }
    }

    .references-shadow {
        height: 500px;
        top: -150px;
        right: -300px;
    }
}