// variables:
$prim-color-green: #70E61C;
$prim-color-purple: #9747FF;
$prim-color-bg: #141D2F;

// global-style:
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
  font-size: 90px;
  font-weight: 700;
  text-wrap: nowrap;
  line-height: 1.3;
  margin-block: 0;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  text-wrap: nowrap;
  line-height: 1;
  margin-block: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(20, 29, 47, 0.8);
}

::-webkit-scrollbar-thumb {
  background: $prim-color-purple;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ac6cff;
}

.btn {
    border: unset;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 23px;
    line-height: 1.2;
    transition: all 100ms ease-in-out;
}

.btn-prim {
    @extend .btn;
    background-color: $prim-color-green;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &:hover {
        cursor: pointer;
        padding: 20px 40px;
        background-color: $prim-color-purple;
    }

    &:active {
        color: black;
        background-color: white;
        box-shadow: unset;
        padding: 15px 30px;
        transition: none;
    }
}

.btn-proj {
    @extend .btn;
    background-color: $prim-color-purple;

    &:hover {
        cursor: pointer;
        background-color: $prim-color-green;
    }

    &:active {
        color: $prim-color-green;
        background-color: white;
        transition: none;
    }
}

.btn-snd {
    @extend .btn;
    background-color: $prim-color-bg;
    border: 1px solid $prim-color-green;

    &:hover {
        cursor: pointer;
        background-color: $prim-color-green;
    }

    &:active {
        color: $prim-color-purple;
        background-color: white;
        border: 1px solid white;
        transition: none;
    }
}

.content-wrapper {
  max-width: 1920px;
  width: 100%;
}

/* Responsive Design:*/
@media(max-width: 2020px) {
  .padding-lr50 {
    padding: 0 50px;
  }
}

@media(max-width: 1470px) {
  .padding-lr50 {
    padding: 0 24px;
  }

  h1 {
    font-size: 6vw;
  }

  h3 {
    font-size: 2.2vw;
  }

  .btn-proj, .btn-snd {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);

    &:active {
      box-shadow: none;
    }
  }
}

@media(max-width: 1000px) {
  h1 {
    font-size: 44px;
  }

  h3 {
    font-size: 24px;
  }
}

@media(max-width: 500px) {
  .padding-lr50 {
    padding: 0 10px;
  }
  
  h1 {
    font-size: 36px;
  }

  .btn {
    font-size: 16px;
  }
}