<div class="footer-content content-wrapper">
    <div>
        <a (click)="scrollToTop()" class="footer-logo">To<span class="letter-b">b</span>ia<span class="letter-s">s</span></a>
        <div class="copyright">&copy; Tobias Reize 2024</div>
        <div class="footer-icon-container">
            <img src="assets/img/footer_section/icon-github.png" alt="github">
            <img src="assets/img/footer_section/icon-mail.png" alt="mail">
            <img src="assets/img/footer_section/icon-linkedin.png" alt="linkedin">
        </div>
    </div>
    <a class="imprint" href="#">Impressum</a>
</div>